.app-title {
  font-weight: 600;
}

.list .item-after {
  font-weight: 500;
}

.item-content {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.empty-state {
  opacity: 0.75;
  text-align: center;
}

.sheet-modal-inner {
  max-height: 100vh;
  overflow: auto !important;
}
